body{
  background-color: #03001C;
  min-height: 100%;

  margin: 0px;
  padding: 0px;
}

header{
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  width: 100%;
  height: 150px;
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  height: 100%;
  width: 48%;
}

.profile{
  width: 10%;
  height: 100%;
}

main{
  display: flex;
  border: 1px solid red;
  width: 100%;
  height: 1500px;
}

footer{
  border: 1px solid red;
  width: 100%;
  height: 100px;
}

.logoCn{
  border: 1px solid salmon;
  width: 200px;
  height: 100px;
}


.Lmain{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 45%;
  height: 100%;
}

.top5{
  display: flex;
  border: 0.1px solid seagreen;
  width: 95%;
  height: 17%;
}

.LmainTop{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 10%;
  width: 95%;
  color: rgb(221, 27, 27);
  text-align: center;
  font-size: 70px;
  text-shadow: 6px 2px 2px gray;
}

.Rmain{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 100%;
}

.picture{
  border: 1px solid skyblue;
  width: 400px;
  height: 600px;
  
}
.RmainCenter{
  border: 1px solid sandybrown;
  width: 400px;
  height: 600px;
}

.picturePacto{
  width: 100%;
  height: 200px;
}
.imgs{
  width: 100%;
  height: 100%;
}
.left{
  width: 50%;
  height: 100%;
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
}
